{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Создать пользователя</h1>
    <hr>

    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name</label>
                    <input type="text" name="full_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="tenant_id" class="form-label">Клиент (Тенант)</label>
                    <select name="tenant_id" class="form-select" required>
                        {% for tenant in tenants %}
                            <option value="{{ tenant.id }}">{{ tenant.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" name="is_superuser" class="form-check-input">
                    <label class="form-check-label" for="is_superuser">Is Superuser</label>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}